
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>All Employee</h2>
<div class="float-r">
    <button style="font-size:20px;" title="Add Department" id="btnModal"
            data-toggle="modal" data-target="#MyModal">
        <i class="fa fa-plus"></i>
    </button>
</div>
<table class="table table-bordered" id="tble">

    <thead>
        <tr>
            <td>DOB</td>
            <td>JoiningDate</td>
            <td>Name</td>
            <td>ContactNo</td>
            <td>Email</td>
            @*<td>PresentAdd</td>
            <td>PermanentAdd</td>
            <td>DesId</td>
            <td>DeptId</td>
            <td>Description</td>
            <td>TypeID</td>*@
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Designation Information</h5>
                @*<button type="button" class="close" data-dismiss="modal"
                              aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Date Of Birth</label>
                    <input type="text" class="form-control" id="txtDOB" />
                </div>
                <div class="form-group">
                    <label>JoiningDate</label>
                    <input type="text" class="form-control" id="txtJDate" />
                </div>
                <div class="form-group">
                    <label id="txtId" hidden></label>
                    <label>Name</label>
                    <input type="text" class="form-control" id="txtName" />
                </div>
                <div class="form-group">
                    <label>ContactNo</label>
                    <input type="text" class="form-control" id="txtContact" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" id="txtEmail" />
                </div>
                @*<div class="form-group">
                    <label> PresentAdd </label>
                    <input type="text" class="form-control" id="txtPresentAdd" />
                </div>
                <div class="form-group">
                    <label>PermanentAdd</label>
                    <input type="text" class="form-control" id="txtPermanentAdd" />
                </div>
                <div class="form-group">
                    <label>DesId</label>
                    <input type="text" class="form-control" id="txtDesId" />
                </div>
                <div class="form-group">
                    <label>DeptId</label>
                    <input type="text" class="form-control" id="txtDeptId" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" id="txtDescription" />
                </div>
                <div class="form-group">
                    <label>TypeID</label>
                    <input type="text" class="form-control" id="txtTypeID" />
                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="Close()" id="btnClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
                <button type="button" class="btn btn-primary" onclick="Update()" id="btnUpdate">Update changes</button>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnUpdate").hide();
            //$("#MyModal").modal('hide');
            $("#btnSave").show();
            var IsEdit = false;
            $("#MyModal").modal({
                backdrop: 'static',
                keyboard: false,
                /*show: true*/
            });
            load()

            $("#btnModal").click(function () {
                $("#MyModal").modal('show')


            })
            $("#btnSave").click(function () {
                var obj = {
                    DOB: $("#txtDOB").val(),
                    JoiningDate: $("#txtJDate").val(),
                    Name: $("#txtName").val(),
                    ContactNo: $("#txtContact").val(),
                    Email: $("#txtEmail").val(),
                    //PresentAdd: $("#txtPresentAdd").val(),
                    //DesId: $("#txtDesId").val(),
                    //DeptId: $("#txtDeptId").val(),
                    //Description: $("#txtDescription").val(),
                    //TypeID: $("#txtTypeID").val()
                }
                console.log(obj)
                $.ajax({
                    url: "https://localhost:44372/api/Employees",
                    type: "JSON",
                    method: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    success: function (result) {
                        console.log(result)

                        $("#MyModal").modal('hide')
                        clearALl(); load();
                    },
                    error: function (er) {
                        console.log(er)
                    }
                })
            })
            

        })
        function clearALl() {
            $("#txtDOB").val(''),
            $("#txtJDate").val(''),
            $("#txtName").val(''),
            $("#txtContact").val(''),
            $("#txtEmail").val(''),
            //$("#txtPresentAdd").val(''),
            //$("#txtDesId").val(''),
            //$("#txtDeptId").val(''),
            //$("#txtDescription").val(''),
            //$("#txtTypeID").val(''),
            $("#txtId").empty()
        }
        function Close() {
            
            $("#MyModal").modal('hide');

            clearALl();
            
        }
        function load() {
            $.ajax({
                url: "https://localhost:44372/api/Employees",
                type: "JSON",
                method: "GET",
                success: function (result) {
                    console.log(result)
                    $("#tble tbody").empty();
                    $.each(result, function (i, v) {
                        console.log(v)
                        var html = "<tr><td>" + v.DOB + "</td>" +
                            "<td>" + v.JoiningDate + "</td>" +
                            " <td>" + v.Name + "</td>" +
                            " <td>" + v.ContactNo + "</td>" +
                            " <td>" + v.Email + "</td>" +
                            //" <td>" + v.PresentAdd + "</td>" +
                            //" <td>" + v.PermanentAdd + "</td>" +
                            //" <td>" + v.DesId + "</td>" +
                            //" <td>" + v.DeptId + "</td>" +
                            //" <td>" + v.Description + "</td>" +
                            //" <td>" + v.TypeID + "</td>" +
                            " <td> <button onClick='Edit(" + v.Id + ")'>Edit </button></td>" +
                            " <td> <button onClick='Delete(" + v.Id + ")'>Delete </button></td></tr>";

                        $("#tble tbody").append(html)
                    })
                },
                error: function (er) {
                    console.log(er)
                }
            })
        }

        function Edit(id) {
            /*alert(id)*/
            $("#btnUpdate").show();
            $("#btnSave").hide();

            $.ajax({
                url: "https://localhost:44372/api/Employees/" + id,
                type: "JSON",
                method: "GET",
                success: function (result) {
                    $("#exampleModalLabel").html("Update Department Information");
                    console.log(result)
                    IsEdit = true;

                    $("#txtName").val(result.DesgName),
                        $("#txtSName").val(result.ShortName),
                        $("#txtDescription").val(result.Description)

                    $("#txtDOB").val(result.DOB),
                        $("#txtJDate").val(result.JoiningDate),
                        $("#txtName").val(result.Name),
                        $("#txtContact").val(result.ContactNo),
                        $("#txtEmail").val(result.Email),
                        //$("#txtPresentAdd").val(result.PresentAdd),
                        //$("#txtDesId").val(result.DesId),
                        //$("#txtDeptId").val(result.DeptId),
                        //$("#txtDescription").val(result.Description),
                        //$("#txtTypeID").val(result.TypeID),
                        $("#txtId").val(result.Id)

                    $("#MyModal").modal('show')
                },
                error: function (er) {
                    console.log(er)
                }
            })

        }
        function Update() {
            alert($("#txtId").val());
            var url = "https://localhost:44372/api/Employees/" + $("#txtId").val();

            var object = {

                DOB: $("#txtDOB").val(),
                JoiningDate: $("#txtJDate").val(),
                Name: $("#txtName").val(),
                ContactNo: $("#txtContact").val(),
                Email: $("#txtEmail").val(),
                //PresentAdd: $("#txtPresentAdd").val(),
                //DesId: $("#txtDesId").val(),
                //DeptId: $("#txtDeptId").val(),
                //Description: $("#txtDescription").val(),
                //TypeID: $("#txtTypeID").val(),
                Id: $("#txtId").val()
            }
            $.ajax({
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "Put",
                data: JSON.stringify(object),
                success: function (result) {
                    $("#MyModal").modal('hide');
                    load();
                    clearALl();
                    console.log("....")
                    console.log(result)
                    
                    $("#btnUpdate").hide();
                    $("#btnSave").show();
                },
                error: function (er) {
                    console.log(er.responseText);
                }
            })
        }

        function Delete(id) {
            var url = "https://localhost:44372/api/Employees/" + id;
            $.ajax({
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "Delete",
                success: function (result) {
                    clearALl();
                    
                    load();
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    </script>
}

