@{ 
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    <link href="~/Content/ModerCSS.css" rel="stylesheet" />
    @*<a href="~/Views/Shared/_MyLayout.cshtml">~/Views/Shared/_MyLayout.cshtml</a>*@
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@*<nav class="navlist">
    <ul>
        <li> <img src="/college-website-main/MyPicture/iibs.jpg" height="50" width="80"></li>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Course</a></li>
        <li><a href="">Faculty</a></li>
    </ul>
</nav>*@
<div class="main-box">
    <h1>IDEAL INSTITUTE OF BUSINESS AND SCIENCE</h1>
    <p>Department of Computer Scinence and Engineering</p>
    <button>ENROLL NOW</button>
</div>
<div class="container">
    <h1>All Courses </h1>
    <ul>
        <li><span>Software Engineering</span> </li>
        <li><span>Artificial Intelligence</span></li>
        <li>Differentiate Calculus</li>
        <li>Object Oriented Programming</li>
        <li>Algorithm Design</li>
    </ul>
</div>
<div>

</div>
<table class="center">
    <caption><b>Studen Details  of CSE </b></caption>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Section</th>
        <th>Shift</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>Mohammad</td>
        <td>Obaydullah</td>
        <td>25</td>
        <td>A section </td>
        <td>Day Shift </td>
        <td>Brahmanbaria</td>
    </tr>
    <tr>
        <td>Mamun</td>
        <td>Sheikh</td>
        <td>25</td>
        <td>B section </td>
        <td>Evening Shift </td>
        <td>Shariyatpur</td>
    </tr>
    <tr>
        <td>Sanjida</td>
        <td>Akter</td>
        <td>23</td>
        <td>A section </td>
        <td>Day Shift </td>
        <td>Munshigonj</td>
    </tr>
    <tr>
        <td>Abu bakar</td>
        <td>Siddique</td>
        <td>25</td>
        <td>A section </td>
        <td>Day Shift </td>
        <td>Tangile</td>
    </tr>
</table>
<br>
<hr>

<!-- <div class="container">
   <h1>The script element</h1>

 <p id="demo"></p>

<script>
document.getElementById("demo").innerHTML = "Hello JavaScript!";
</script>
  </div> -->
<h2 class="container">Change button  </h2>
<input class="container" type="button" value="Red" id="btn" />
<script>
        var btn = document.getElementById("btn");

btn.addEventListener("click", ()=>{

    if(btn.value === "Red"){
        btn.value = "Blue";
    }else{
        btn.value= "Red";
    }
})
</script>
<div class="container">
    <h2>FACILITIES</h2>
    <div class="row">
        <div class="column">

            <a href=""><img src="/MyPicture/CampusPic.jpg " alt=""></a>
            <h2>CAMPUS</h2>
            <a href="">CAMPUS</a>
        </div>
        <div class="column">
            <a href=""><img src="/MyPicture/CantinPic.jpg" alt=""></a>
            <a href="">CANTINE</a>
        </div>
        <div class="column">
            <a href=""><img src="/MyPicture/libraryPic.jpg" alt=""></a>
            <a href="">LIBRARY</a>
        </div>
    </div>
</div>