
@{
    ViewBag.Title = "Competition";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2 style="color:blue">Competition Information</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Student Name</td>
            <td>Teamwork Name</td>
            <td>Academic Performance</td>
            <td>Agency</td>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Abdullah</td>
            <td>Brute Force</td>
            <td>Good</td>
            <td>Captan</td>

        </tr>
        <tr>
            <td>Obaydullah</td>
            <td>Brute Force</td>
            <td>Good</td>
            <td>Captan</td>

        </tr>
        <tr>
            <td>Shahed</td>
            <td>Brute Force</td>
            <td>Good</td>
            <td>Captan</td>

        </tr>
        <tr>
            <td>Mamun</td>
            <td>Brute Force</td>
            <td>Good</td>
            <td>Captan</td>

        </tr>
    </tbody>
</table>