
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>All Designation</h2>
<div class="float-r">
    <button style="font-size:20px;" title="Add Department" id="btnModal"
            data-toggle="modal" data-target="#MyModal">
        <i class="fa fa-plus"></i>
    </button>
</div>
<table class="table table-bordered" id="tble">

    <thead>
        <tr>
            <td>Name</td>
            <td>Short Name</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Designation Information</h5>
                @*<button type="button" class="close" data-dismiss="modal"
                              aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label id="txtId" hidden></label>
                    <label>Name</label>
                    <input type="text" class="form-control" id="txtName" />
                </div>
                <div class="form-group">
                    <label>Short Name</label>
                    <input type="text" class="form-control" id="txtSName" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" id="txtDescription" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="Close()" id="btnClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
                <button type="button" class="btn btn-primary" onclick="Update()" id="btnUpdate">Update changes</button>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnUpdate").hide();
            //$("#MyModal").modal('hide');
            $("#btnSave").show();
            var IsEdit = false;
            $("#MyModal").modal({
                backdrop: 'static',
                keyboard: false,
                /*show: true*/
            });
            load()

            $("#btnModal").click(function () {
                $("#MyModal").modal('show')


            })
            $("#btnSave").click(function () {
                var obj = {
                    DesgName: $("#txtName").val(),
                    ShortName: $("#txtSName").val(),
                    Description: $("#txtDescription").val()
                }
                console.log(obj)
                $.ajax({
                    url: "https://localhost:44372/api/Designations",
                    type: "JSON",
                    method: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    success: function (result) {
                        console.log(result)

                        $("#MyModal").modal('hide')
                        clearALl(); load();
                    },
                    error: function (er) {
                        console.log(er)
                    }
                })
            })
            //$("#btnUpdate").click(function () {

            //}

        })
        function clearALl() {
            $("#txtName").val(''),
                $("#txtSName").val(''),
                $("#txtDescription").val('')
            $("#txtId").empty()
        }
        function Close() {
            //alert(IsEdit);
            //if (IsEdit == false) {
            $("#MyModal").modal('hide');

            clearALl();
            // }
        }
        function load() {
            $.ajax({
                url: "https://localhost:44372/api/Designations",
                type: "JSON",
                method: "GET",
                success: function (result) {
                    console.log(result)
                    $("#tble tbody").empty();
                    $.each(result, function (i, v) {
                        console.log(v)
                        var html = "<tr><td>" + v.DesgName + "</td>" +
                            "<td>" + v.ShortName + "</td>" +
                            " <td>" + v.Description + "</td>" +
                            " <td> <button onClick='Edit(" + v.Id + ")'>Edit </button></td>" +
                            " <td> <button onClick='Delete(" + v.Id + ")'>Delete </button></td></tr>";

                        $("#tble tbody").append(html)
                    })
                },
                error: function (er) {
                    console.log(er)
                }
            })
        }

        function Edit(id) {
            /*alert(id)*/
            $("#btnUpdate").show();
            $("#btnSave").hide();

            $.ajax({
                url: "https://localhost:44372/api/Designations/" + id,
                type: "JSON",
                method: "GET",
                success: function (result) {
                    $("#exampleModalLabel").html("Update Department Information");
                    console.log(result)
                    IsEdit = true;

                    $("#txtName").val(result.DesgName),
                        $("#txtSName").val(result.ShortName),
                        $("#txtDescription").val(result.Description)
                    $("#txtId").val(result.Id)
                    $("#MyModal").modal('show')
                },
                error: function (er) {
                    console.log(er)
                }
            })

        }
        function Update() {
            alert($("#txtId").val());
            var url = "https://localhost:44372/api/Designations/" + $("#txtId").val();

            var object = {
                DesgName: $("#txtName").val(),
                ShortName: $("#txtSName").val(),
                Description: $("#txtDescription").val(),
                Id: $("#txtId").val()
            }
            $.ajax({
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "Put",

                data: JSON.stringify(object),
                success: function (result) {
                    //getProductData();
                    //clear();
                    $("#MyModal").modal('hide');
                    load();
                    clearALl();
                    console.log("....")
                    console.log(result)
                    //if (result > 0 ) {
                    //    load();
                    //    clearALl();

                    //}
                    $("#btnUpdate").hide();
                    $("#btnSave").show();
                },
                error: function (er) {
                    console.log(er.responseText);
                }
            })
        }

        function Delete(id) {
            var url = "https://localhost:44372/api/Designations/" + id;
            $.ajax({
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "Delete",
                success: function (result) {
                    clearALl();
                    //alert(result);
                    load();
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    </script>
}
