
@{
    ViewBag.Title = "LessonPlan";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>LessonPlan</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Unit Name</td>
            <td>Lesson Name</td>
            <td>Paragraph</td>
            <td>Student Name</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Unit One</td>
            <td>Lesson One</td>
            <td>Liveration War</td>
            <td>Abdullah</td>
        </tr>
        <tr>
            <td>Unit Two</td>
            <td>Lesson Two</td>
            <td>Victory Day</td>
            <td>Obaydullah</td>
        </tr>
        <tr>
            <td>Unit three</td>
            <td>Lesson three</td>
            <td>Family</td>
            <td>Shahed</td>
        </tr>
        <tr>
            <td>Unit Four</td>
            <td>Lesson Four</td>
            <td>Animal Area</td>
            <td>Mamun</td>
        </tr>
    </tbody>
</table>
